<div class="modal" id="filter-users" tabindex="-1" role="dialog" aria-labelledby="filter-usersLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content panel charges">
      <div class="modal-body">
        <div class="section-title">
          <div class="wrapper">
            <h3>Usuarios para filtrar</h3>
          </div>
        </div>
        <div class="sub-content">
          <h3>Seleccione un usuario para filtrar datos</h3>
          <button id="reset-target" class="btn btn-other" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="table-wrapper">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th># ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
              </tr>
            </thead>
            <tbody id="users-filter">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>