<div class="charge-detail p-2 flex-md-grow-1 vflex">
  <div class="details container">
    <div class="sub-content">
      <h3>Detalle de cargo</h3>
      <% if current_user.role.permission_level > 0 %>
      <button id="to-new-payment" type="button" class="btn btn-other" data-toggle="modal" data-target="">Pagar</button>
      <% end %>
    </div>
    <div class="info" id="detail-display">
      <p>Selecciona un cargo para ver sus detalles.</p>
    </div>
  </div>
  <div class="payments container">
    <div class="sub-content">
      <h3>Pagos realizados</h3>
    </div>
    <div class=table-wrapper>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th># ID</th>
            <th>Monto</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody id="payment-table">
        </tbody>
      </table>
    </div>
  </div>
</div>