<section class="home">
  <div class="site-welcome">
    <div class="wrapper">
      <div class="content-wrapper">
        <h2>Bienvenido a tu sitio!</h2>
        <p>Descripción</p>
      </div>
      <div class="image-wrapper">
      </div>
    </div>
  </div>
</section>